{layout "../@layout.latte"}
{block title}Volby do městské rady{/block}
{block content}
  <h1>Volby do městské rady</h1>
  <p>Poslední týden každého měsíce se konají volby do městské rady. Hlasovat mohou všichni plnoprávní občané města, to jest měšťané, kněží a šlechtici, avšak zvoleni mohou být jen měšťané (včetně současných konšelů).</p>
{/block}
