{layout "../@layout.latte"}
{block title}Založit město{/block}
{block content}
  <h1>Založit město</h1>
  <p>Jako šlechtic můžeš zakládat město. K založení potřebuješ 1 000 grošů a Právo na založení města vydané královnou. Pokud jej nemáš, kontaktuj některého z členů Korunní rady, který přednese tvou žádost královně a ta ti jej eventuálně udělí.</p>
  {control foundTownForm}
{/block}
