{layout "../@layout.latte"}
{block title}Dům{/block}
{block content}
  <h1>Dům</h1>
  Stav: {$house->hp}% {if $house->hp < 100}<a n:href="repair!">Opravit</a> za {$house->repairPrice|money}{/if}<br>
  Úroveň: {$house->luxuryLevel} {if $canUpgrade}<a n:href="upgrade!">Vylepšit</a> za {$house->upgradePrice|money}{/if}<br>
  Pivovar: {if $house->breweryLevel < 1}není <a n:href="upgradeBrewery!">Pořídit</a> za {$house->breweryUpgradePrice|money}{else}úroveň: {$house->breweryLevel} {if $canUpgradeBrewery}<a n:href="upgradeBrewery!">Vylepšit</a> za {$house->breweryUpgradePrice|money}{/if}{/if} {if $canProduceBeer}<a n:href="produceBeer!">Vařit pivo</a>{/if}
{/block}
