{layout "../@layout.latte"}
{block title}Městský chat{/block}
{block content}
  <h1>Městský chat</h1>
  <iframe src="{plink Chat:town}" width="100%" height="700"></iframe>
  {control newChatMessageForm}
{/block}
