{layout "../@layout.latte"}
{block title}Řádový chat{/block}
{block content}
  <h1>Řádový chat</h1>
  <iframe src="{plink Chat:order}" width="100%" height="700"></iframe>
  {control newChatMessageForm}
{/block}
