{layout "../@layout.latte"}
{block title}Řád{/block}
{block content}
  <h1>{$order->name}</h1>
  <p>{$order->name} byl založen {$order->foundedAt}. Řád je na úrovni {$order->level}.</p>
  <p>{$order->description}</p>
  <h3>Členové</h3>
  <p>
    {foreach $order->members as $member}
    {control userProfileLink:order $member}{if !$iterator->last}, {/if}
  {/foreach}
  </p>
{/block}