{layout "../@layout.latte"}
{block title}Spravovat řád{/block}
{block content}
  <h1>Spravovat řád</h1>
  {control manageOrderForm}
  {if $canUpgrade}<a n:href="upgrade!">Vylepšit</a> řád za {$order->upgradePrice|money}<br>{/if}
{/block}