{layout "../@layout.latte"}
{block title}Novinky{/block}
{block content}
  <h1>Novinky</h1>
  {if count($news) === 0}
    <p>Žádné novinky.</p>
  {else}
    <h2>Novinky strana {$paginator->page}</h2>
    {foreach $news as $new}
    <p>{$new->title} od <a n:href="Profile:default $new->author_username">{$new->author}</a> Přidáno: {$new->addedAt} <a n:href="News:view $new->id">Zobrazit</a></p>
    {/foreach}
  {/if}
{/block}