{layout "../@layout.latte"}
{block title}Cech{/block}
{block content}
  <h1>{$guild->name}</h1>
  <p>Úroveň: {$guild->level}</p>
  <h3>Členové</h3>
  <div n:foreach="$guild->members as $member" class="members">
    {$member->guildRank->name} <a n:href="Profile: $member->username">{$member->publicname}</a>{if !$iterator->last}, {/if}
  </div>
  <h3>Majetek cechu</h3>
  <p>{$guild->moneyT}</p>
  <h3>Akce</h3>
  <p>{if $canLeave}<a n:href="leave">Opustit cech</a>{/if}
{/block}
