{layout "../@layout.latte"}
{block title}Spravovat cech{/block}
{block content}
  <h1>Spravovat cech</h1>
  {control manageGuildForm}
  {if $canUpgrade}<a n:href="upgrade!">Vylepšit</a> cech za {$guild->upgradePriceT}<br>{/if}
{/block}