{layout "../@layout.latte"}
{block title}Lektvary{/block}
{block content}
  <h1>Lektvary</h1>
  <p>Tvé zdraví: {$life}/{$maxLife}</p>
  {if $items->count() === 0}
  <p>Nemáš žádné lektvary.</p>
  {else}
  <div n:inner-foreach="$items as $item" id="items">
    {$item->amount}x {$item->item->name} (Síla: {$item->item->strength}) za {$item->item->priceT}{if $life < $maxLife} <a n:href="drink! $item->id">Vypít</a>{/if} <a n:href="sell! $item->id">Prodat 1 kus</a><br>
  </div>
  {/if}
{/block}