source: .
destination: ./doc
title: Nexendrie
todo: yes
charset:
    - UTF-8
exclude: 
    - temp
    - tests
    - composer
    - examples
    - deprecated
    - Requirements-Checker
accessLevels:
    - public
    - protected
    - private