source: app
destination: doc
title: Nexendrie
todo: yes
php: yes
charset:
    - UTF-8
exclude: 
    - temp
    - tests
    - composer
    - examples
    - deprecated
    - Requirements-Checker
    - shortcuts.php
accessLevels:
    - public
    - protected
    - private
