includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/nextras/orm-phpstan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nexendrie/code-quality/phpstan.neon
parameters:
    level: 8
    paths:
        - app
        - tests
        - tools
        - migrations
    earlyTerminatingMethodCalls:
        Nexendrie\Presenters\ApiModule\BasePresenter:
            - resourceNotFound
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
        - Nextras\Orm\Entity\IEntity
    ignoreErrors:
        - '#Variable method call on \$this\(Nexendrie\\Model\\SettingsRepository\)#'
        - '#Property SimpleXMLElement::\$Url \(bool\|float\|int\|SimpleXMLElement\|string\|null\) does not accept array\<string, string\>#'
        - '#Property Nexendrie\\Orm\\[a-zA-Z]+::\$[a-zA-Z1-9]+ \(Nexendrie\\Orm\\[a-zA-Z]+(\|null)?\) does not accept int#'
        - '#Property Nette\\Utils\\Paginator::\$itemsPerPage \(int\<1, max\>\) does not accept int#'
        -
            identifier: missingType.generics
        -
            identifier: phpDoc.parseError
        -
            identifier: varTag.type
        -
            identifier: ternary.shortNotAllowed
