includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
        - Nextras\Orm\Entity\IEntity
    ignoreErrors:
        - '#Method Nexendrie\\Orm\[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+ should return Nexendrie\\Orm[a-zA-Z0-9\\_]+|null but returns Nextras\\Orm\\IEntity|null#'
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        - '#Method Nexendrie\\Model\\Job::parseJobHelp\(\) should return string but returns array\|string#'
        - '#Method Nexendrie\\Orm\\[a-zA-Z0-9\\_]::getter[a-zA-Z0-9\\_]() should return int but returns float|int#'
        - '#Variable method call on \$this\(Nexendrie\\Model\\SettingsRepository\)#'
        # until we use Nette 3
        - '#Method Nette\\Localization\\ITranslator::translate\(\) invoked with 3 parameters, 1-2 required#'
        - '#Dynamic call to static method Nette\\Security\\Passwords::[a-z]+\(\)#'
        - '#Method Nette\\DI\\CompilerExtension::getConfig\(\) invoked with 1 parameter, 0 required#'
