includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
        - Nextras\Orm\Entity\IEntity
    ignoreErrors:
        - '#Call to function is_null\(\) will always evaluate to false#'
