{layout "../@layout.latte"}
{block title}Banka{/block}
{block content}
  <h1>Banka</h1>
  <p>Přicházíš k místní pobočce banky rodiny Žajských. Ještě před padesáti lety to byli obyčejní měšťané v dnes již neexistujím městě Nexendrie, avšak obchodováním získali velký majetek a před 20 lety se souhlasem tehdejšího krále založili první banku v Nexendrii. Zpočátku půjčovali jen šlechticům, ale brzy zjistili, že nabízením peněz všem vrstvám obyvatelstva mohou vydělat ještě více. Dnes mají pobočku v téměř každé městě a vesnici v království.</p>
  <p>Hned po vstupu do budovy tě pozdraví jeden z členů rodiny. {if !$user->loggedIn}"Vítám Vás v bance Žajských, pane. Je mi líto, ale cizincům nepůjčujeme."{elseif $loan}"Vítám Vás v bance Žajských, {="(pane|paní). (Přišel|Přišla)"|genderify} jste splatit svou půjčku?"{elseif !$loan}"Vítám Vás v bance Žajských, {="(pane|paní)"|genderify}. Pokud potřebujete rychle peníze, tak jste na správném místě. S ohledem na Vaše postavení Vám můžeme půjčit maximálně {$maxLoan|money} s úrokem {$loanInterest}% ročně. Jakmile to vrátíte, rádi Vám znovu půjčíme."{/if}</p>
  <p>{if $user->loggedIn and !$loan}{control takeLoanForm}{elseif $user->loggedIn and $loan}<a n:href="return">Vrátit</a> {$returnMoney|money}{/if}</p>
  <p>{if $user->loggedIn and !$deposit}"Anebo si chcete uložit peníze na termínovaný účet? Současná úroková míra je {$depositInterest}% ročně a můžete mít otevřený maximálně 1 účet."{elseif $user->loggedIn and $deposit}"Máte otevřen termínovaný účet s částkou {$deposit->amount|money} a úrokovou sazbou {$deposit->interestRate}%. {if $deposit->due}Chcete jej <a n:href="close">uzavřít</a> a vybrat peníze včetně úroků?{else}Uzavřít jej a vybrat peníze včetně úroků můžete {$deposit->termT}.{/if}"{/if}</p>
  <p>{if $user->loggedIn and !$deposit}{control openDepositAccountForm}{/if}</p>
{/block}