:root { color-scheme: only dark; }
a { text-decoration: none; color: LinkText; }
a:hover { color: ButtonText; }
header { width: 100%; max-width: 935px; max-height: 75px; position: absolute; top: 5px;
    background-color: #111111; }
header h2 { position: relative; top: 5px; left: 25px; width: 10.6%; max-width: 100px; }
header h2 a { font-size: larger; color: CanvasText; }
#userPanel { position: absolute; top: 55px; right: -4px; }
#userPanel a { border: 5px solid #CC0000; position: relative; bottom: 1px;
    background-color: #CC0000; color: SelectedItemText; }
#userPanel a:hover { color: /*MarkText*/black; }
#mainMenu { position: relative; top: 85px; width: 22%; max-width: 160px;
    background-color: #111111; }
#mainMenu h3 { position: relative; left: 18px; bottom: 14px; width: 65%; max-width: 104px; padding: 3px 10px 3px 15px;
    text-align: center; background-color: #444444; color: #000033; }
#mainMenu ul { position: relative; left: 17px; bottom: 22px; width: 73%; max-width: 117px; padding: 10px 5px 10px 8px;
    background-color: Canvas; }
#mainMenu li { list-style-type: none; }
main { position: absolute; top: 89px; left: 175px; width: 70%; max-width: 741px; padding: 0 7px; }
main a { text-decoration: underline; }
#topLinks { position: absolute; top: 20px; right: 15px; height: 0; }
#flashes { position: relative; top: 85px; }
