  <h1>Akademie</h1>
  <p>text</p>
  <table id="skills">
    <tr><th>Dovednost</th><th>Úroveň</th><th>Cena</th><th></th></tr>
    {foreach $skills as $skill}
    <tr><td>{$skill->name}</td><td>{$skill->level}</td><td>{$skill->price}</td><td>{if $skill->level < 5}<a n:href="learn! $skill->id">Učit se</a>{/if}</td></tr>
    {/foreach}
  </table>