  <h1>Jezdecká zvířata</h1>
  {if $mounts->count() < 1}
  Žádná jezdecká zvířata nejsou na prodej.
  {else}
    {foreach $mounts as $mount}
  {control userProfileLink $mount->owner,true} nabízí {$mount->name} ({$mount->typeGenderName}, poškození {$mount->damage}, brnění {$mount->armor}) za {$mount->price|money}. {if $mount->type->level <= $user->identity->level}<a n:href="buy! $mount->id">Koupit</a>{/if}<br>
    {/foreach}
  {/if}