  <article id="poll">
    <p>Přidal {control userProfileLink $poll->author} {$poll->addedAt}</p>
    <h3>{$poll->question}</h3>
    <ul>
    {foreach $poll->parsedAnswers as $answer}
      <li>{if $canVote}<a n:href="vote! $iterator->counter">{$answer}</a>{else}{$answer} ({$votes["answers"][$iterator->counter]}){/if}</li>
    {/foreach}
    </ul>
    <p>Celkem hlasů: {$votes["total"]}</p>
    {if $canEdit}<p><a href="{plink :Admin:Polls:edit $poll->id}">Upravit</a> </p>{/if}
  </article>