  <div id="share">
    <p>
      Sdílet {$contentType} na:
      {foreach $links as $link}
      <a href="{$link->getShareLink($url)}" data-url="{$url}" id="share-link-{$link->getPlatformName()}">{$link->getSiteName()}</a>
      {if !$iterator->last} {/if}
      {/foreach}
    </p>
  </div>