  <h1>Města</h1>
  {if $towns->count() < 1}
  Žádná města nejsou na prodej.
  {else}
    {foreach $towns as $town}
  {$town->owner->title} <a href="{plink :Front:Profile:default, username=>$town->owner->username}">{$town->owner->publicname}</a> nabízí <a href="{plink Town:detail $town->id}">{$town->name}</a> za {$town->priceT}. <a n:href="buy! $town->id">Koupit</a><br>
    {/foreach}
  {/if}