  <h1>Svatba</h1>
  <p>{$marriage->user1->title} <a href="{plink Profile: $marriage->user1->username}">{$marriage->user1->publicname}</a> a {$marriage->user2->title} <a href="{plink Profile: $marriage->user2->username}">{$marriage->user2->publicname}</a></p>
  <p n:foreach="$texts as $text">{$text}</p>