<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie {$versionSuffix} - {include #title}</title>
  <base target="_top">
  <meta http-equiv="refresh" content="{$chatRefreshRate}">
</head>
<body>
<article id="main">
{include #content}</article>
</body>
</html>
