<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="color-scheme" content="light dark">
  {control favicon}
  <title>{$siteName|trim} - {include #title}</title>
  <base target="_top">
  <meta http-equiv="refresh" content="{$chatRefreshRate}">
</head>
<body>
<main>
{include #content}</main>
</body>
</html>
