<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie {$versionSuffix} - {block title}{/block}</title>
  {default $style = "blu-sky"}
  <link rel="stylesheet" href="{$basePath}/styles/{$style}.css">
</head>
<body>
{include "header.latte"}
<article id="main">
{block #content}{/block}</article>
{include "footer.latte"}
</body>
</html>