<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {control favicon}
  <title>{$siteName|trim} - {block title}{/block}</title>
  <link rel="stylesheet" href="{$basePath}/styles/{$style}.css">
  <meta name="robots" content="noindex, nofollow">
</head>
<body>
<header>
  <h2><a n:href="Homepage:">Nexendrie</a></h2>
  {control menu userPanelAdmin}
</header>
{control menu:list admin}
<div id="flashes">
{foreach $flashes as $flash}
  <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}
</div>
<main>
{block #content}{/block}</main>
<footer>

</footer>
{if $user->isLoggedIn() and $user->identity->notifications}<script src="{$basePath}/js/sse.js"></script>{/if}
</body>
</html>