{layout "../@layout.latte"}
{block title}Zpráva{/block}
{block content}
  <h1>{$message->subject}</h1>
  Od: {control userProfileLink $message->from}<br>
  Pro: {control userProfileLink $message->to}<br>
  Odesláno: {$message->sentAt}<br>
  <p>{$message->text}</p>
  {if $user->id == $message->to->id}<a n:href="Messages:new $message->from->id">Odpovědět</a>{/if}
{/block}