{layout "../@layout.latte"}
{block title}Postavit hrad{/block}
{block content}
  <h1>Postavit hrad</h1>
  <p>Jako šlechtic si můžeš postavit a následně vylepšovat hrad, který zvýší tvé příjmy z daní. Na stavbu hradu potřebuješ {$buildingPrice}.</p>
  {control buildCastleForm}
{/block}
