{layout "../@layout.latte"}
{block title}Hrad{/block}
{block content}
  <h1>{$castle->name}</h1>
  <p>Úroveň: {$castle->level} Stav: {$castle->hp}%<br>
  Zvýšení příjmu z daní: {$castle->taxesBonusIncome|money} za měsíc za každé město/vesnici</p>
  {if $canUpgrade}<a n:href="upgrade!">Vylepšit</a> za {$castle->upgradePrice|money}<br>{/if}
  {if $castle->hp < 100}<a n:href="repair!">Opravit</a> za {$castle->repairPrice|money}{/if}
  <h3>Upravit hrad</h3>
  {control manageCastleForm}
{/block}
