{layout "../@layout.latte"}
{block title}{$castle->name}{/block}
{block content}
  <h1>{$castle->name}</h1>
  <p>{$castle->name} postavil{if $castle->owner->gender === "female"}a{/if} {control userProfileLink $castle->owner} {$castle->createdAt}. Hrad je na úrovni {$castle->level}. Stav: {$castle->hp}%.</p>
  <p>{$castle->description}</p>
{/block}