{layout "../@layout.latte"}
{block title}Práce hotova{/block}
{block content}
  <h1>Práce hotova</h1>
  <p>Po dokončení práce dostáváš {$reward|money}. {if $extra}Za výkony navíc máš prémii {$extra|money}.{/if}</p>
  <p><a n:href="offers">Vybrat další práci</a></p>
{/block}