  <meta name="frankenphp-hot-reload:url" content="https://nexendrie.localhost/.well-known/mercure?topic=https://frankenphp.dev/hot-reload/xxx">
  <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>