  <h1>Jezdecká zvířata</h1>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Durhil (Dráče, poškození 3, brnění 2) za 5000 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Ihb An (Velbloud, poškození 1, brnění 0) za 300 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Buris (Kůň, poškození 0, brnění 1) za 127 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Valdan (Kůň, poškození 0, brnění 1) za 100 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Mel (Osel, poškození 0, brnění 0) za 50 grošů. <a href="#">Koupit</a><br>
  konšel <a href="plink|:Front:Profile:(0=Jakub)">Jakub</a> nabízí Zimma (Oslice, poškození 0, brnění 0) za 50 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Larna (Oslice, poškození 0, brnění 0) za 50 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=Vladěna)">Vladěna</a> nabízí Mil (Osel, poškození 0, brnění 0) za 50 grošů. <a href="#">Koupit</a><br>