  <article id="poll">
    <p>Přidal <a href="plink|:Front:Profile:(0=Trimadyl z Myhru)">Trimadyl z Myhru</a> 30.6.2015 16:07</p>
    <h3>Otázka</h3>
    <ul>
      <li><a href="#">Možnost 1</a></li>
      <li><a href="#">Možnost 2</a></li>
      <li><a href="#">Možnost 3</a></li>
      <li><a href="#">Možnost 4</a></li>
    </ul>
    <p>Celkem hlasů: 0</p>
    <p><a href="plink|:Admin:Polls:edit(0=1)">Upravit</a> </p>
  </article>