  <article id="poll">
    <p>Přidal <a href="plink|:Front:Profile:(0=Trimadyl z Myhru)">Trimadyl z Myhru</a> 30.6.2015 16:07</p>
    <h3>Otázka</h3>
    <ul>
      <li>Možnost 1 (0)</li>
      <li>Možnost 2 (0)</li>
      <li>Možnost 3 (0)</li>
      <li>Možnost 4 (0)</li>
    </ul>
    <p>Celkem hlasů: 0</p>

  </article>