  <div id="share">
    <p>
      Sdílet článek na:
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.nexendrie.cz/" data-url="https://www.nexendrie.cz/" id="share-link-facebook">Facebooku</a>

      <a href="https://twitter.com/intent/tweet?url=https://www.nexendrie.cz/&amp;via=nexendrieCZ" data-url="https://www.nexendrie.cz/" id="share-link-twitter">X (Twitteru)</a>

      <a href="" data-url="https://www.nexendrie.cz/" id="share-link-fediverse">fediversmíru</a>

      <a href="" data-url="https://www.nexendrie.cz/" id="share-link-web">zařízení</a>

    </p>
  </div>