  <div id="share">
    <p>Sdílet článek na: <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.nexendrie.cz/">Facebooku</a> <a href="https://twitter.com/intent/tweet?url=https://www.nexendrie.cz/&amp;via=nexendrieCZ">Twitteru</a></p>
  </div>