  <h1>Hamalův všehoobchod</h1>
  <p>popisek</p>
  <p>Cizincům neprodávám.<small>Tip: Aby jsi mohl nakupovat, musíš být <a href="plink|:Front:User:register">zaregistrovaný</a> a <a href="plink|:Front:User:login">přihlášený</a>.</small></p>