<a href="https://www.facebook.com/nexendrie/"><img src="/images/facebook-logo.png" alt="Facebook" title="Facebook stránka"></a> <a href="https://twitter.com/nexendrieCZ"><img src="/images/twitter.png" alt="Twitter" title="Twitter"></a> <a href="https://social.konecnyjakub.top/profile/nexendrie"><img src="/images/friendica.png" alt="Friendica" title="Účet Friendica v rámci fedivesmíru"></a> <a href="https://gitlab.com/nexendrie/nexendrie"><img src="/images/gitlab-icon.png" alt="Gitlab" title="Zdrojové kódy a issue tracker"></a>