  <h1>Hostinec</h1>
  <p>Vstupuješ do místního hostince. Jsi poněkud překvapen, kolik je zde v tuto dobu lidí. Po chvíli pokukování si najdeš místo a usedneš. O několik okamžiků později už slyšíš servírku, jak ti říká:</p>
  <p>"Vítejte v našem vyhlášeném hostinci. Mohu vám nabídnout:"</p>
  <ul>
    <li>Voda za 2 groše <a href="#">Objednat si</a> (přidá 1 život)</li>
    <li>Placka za 5 grošů <a href="#">Objednat si</a> (přidá 2 životy)</li>
    <li>Chléb za 5 grošů <a href="#">Objednat si</a> (přidá 2 životy)</li>
    <li>Ovesná kaše za 7 grošů <a href="#">Objednat si</a> (přidá 2 životy)</li>
    <li>Pstruh za 14 grošů <a href="#">Objednat si</a> (přidá 3 životy)</li>
  </ul>