  <h1>Hostinec</h1>
  <p>Vstupuješ do místního hostince. Jsi poněkud překvapen, kolik je zde v tuto dobu lidí. Po chvíli pokukování si najdeš místo a usedneš. O několik okamžiků později už slyšíš servírku, jak ti říká:</p>
  <p>"Je vidět, že nejste odtud. Promiňte, ale cizincům neprodáváme."</p>