  <h1>Města</h1>
  její Veličenstvo <a href="plink|:Front:Profile:(0=system)">Vladěna</a> nabízí <a href="plink|Town:detail(0=5)">Lípa</a> za 5000 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=system)">Vladěna</a> nabízí <a href="plink|Town:detail(0=7)">Dazluk</a> za 5000 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=system)">Vladěna</a> nabízí <a href="plink|Town:detail(0=8)">Bílé Louky</a> za 5000 grošů. <a href="#">Koupit</a><br>
  její Veličenstvo <a href="plink|:Front:Profile:(0=system)">Vladěna</a> nabízí <a href="plink|Town:detail(0=11)">Roden</a> za 5000 grošů. <a href="#">Koupit</a><br>