includes:
    - local.neon
    - models.neon
application:
    debugger: true
    mapping:
        *: Nexendrie\*Module\Presenters\*Presenter
database:
    default:
        dsn: %database.dsn%
        user: %database.user%
        password: %database.password%
        debugger: true
        explain: true
tracy:
    email: %application.webmasterMail%
    strictMode: TRUE
session:
    savePath: "%tempDir%/sessions"
    name: NEXSESSID
    expiration: 4 hours
services:
    - Nexendrie\UserManager
    authorizator: Nexendrie\Authorizator::create
    cache.cache: Nette\Caching\Cache(@cache.storage, "data")
    poll: Nexendrie\Components\PollControl
    form.addEditNews: Nexendrie\Forms\AddEditNewsForm::create
    form.addEditPoll: Nexendrie\Forms\AddEditPollForm::create
    shop: Nexendrie\Components\ShopControl