includes:
    - local.neon
application:
    mapping:
        *: Nexendrie\*Module\Presenters\*Presenter
tracy:
    strictMode: TRUE
session:
    savePath: "%tempDir%/sessions"
    name: NEXSESSID
    expiration: 4 hours
services:
    authorizator: Nexendrie\Model\Authorizator::create
    cache.cache: Nette\Caching\Cache(@cache.storage, "data")
    poll: Nexendrie\Components\PollControlFactory
    form.addEditNews: Nexendrie\Forms\AddEditNewsFormFactory
    form.addEditPoll: Nexendrie\Forms\AddEditPollFormFactory
    shop: Nexendrie\Components\ShopControlFactory
    router: Nexendrie\Model\RouterFactory::create
    nexendrie.group: Nexendrie\Model\Group
    nexendrie.locale: Nexendrie\Model\Locale(%locale%)
    nexendrie.market: Nexendrie\Model\Market
    nexendrie.messenger: Nexendrie\Model\Messenger
    nexendrie.news: Nexendrie\Model\News
    nexendrie.polls: Nexendrie\Model\Polls
    nexendrie.profile: Nexendrie\Model\Profile
    nexendrie.rss: Nexendrie\Model\Rss
    nexendrie.userManager: Nexendrie\Model\UserManager
