services:
    model.group: Nexendrie\Group
    model.locale: Nexendrie\Locale(%locale%)
    model.messenger: Nexendrie\Messenger
    model.news: Nexendrie\News
    model.permissions: Nexendrie\Permissions
    model.profile: Nexendrie\Profile