services:
    model.group: Nexendrie\Group
    model.locale: Nexendrie\Locale(%locale%)
    model.market: Nexendrie\Market
    model.messenger: Nexendrie\Messenger
    model.news: Nexendrie\News
    model.polls: Nexendrie\Polls
    model.profile: Nexendrie\Profile
    model.rss: Nexendrie\Rss