routing:
    routes:
        "profile/<username>": "Profile:default"
        "message/<id [0-9]+>": "Messages:view"
        "news/page/<page [0-9]+>": "News:page"
        "rss[/<action>][/<news [0-9]+>]": "Rss:news"
        "<presenter>[/<action>][/<id>]": "Homepage:default"