<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie {$versionSuffix} - {include #title}</title>
  {default $style = "blue-sky"}
  <link rel="stylesheet" href="{$basePath}/styles/{$style}.css">
  <link rel="alternate" type="application/rss+xml" title="Nexendrie - Novinky" n:href="Rss:news">
  {ifset #head}{include #head}{/ifset}
</head>
<body>
{include "header.latte"}
<article id="main">
{include #content}</article>
{include "footer.latte"}
</body>
</html>
