<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {control favicon}
  <title>{$siteName} - {include #title}</title>
  <meta property="og:site_name" content="{$siteName}">
  <meta property="og:url" content="{link //this}">
  {default $ogType = "website"}
  <meta property="og:type" content="{$ogType}">
  <meta property="og:title" content="{include #title}">
  <meta property="og:locale" content="cs_CZ">
  <link rel="stylesheet" href="{$style}">
  <link rel="alternate" type="application/rss+xml" title="{$siteName} - Novinky" n:href="Rss:news">
  <link rel="search" type="application/opensearchdescription+xml" n:href="Search:users" title="{$siteName} - Uživatelé">
  <link rel="search" type="application/opensearchdescription+xml" n:href="Search:articles" title="{$siteName} - Články">
  {ifset #head}{include #head}{/ifset}
</head>
<body>
<header>
  <h2><a href="{$baseUrl}">Nexendrie</a></h2>
  {control menu userPanelFront}
</header>
{control menu:list}
<div id="flashes">
  {foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
  {/foreach}
</div>
<main>
{include #content}</main>
<footer>

</footer>
{if $user->isLoggedIn() and $user->identity->notifications}<script src="{$basePath}/js/sse.js"></script>{/if}
<script src="{$basePath}/js/fediverse-share.js"></script>
<script src="{$basePath}/js/web-share.js"></script>
<dialog id="fediverse-share">
  <form onsubmit="fediverseShareSubmit(event)">
    <label for="fediverse-share-instance">Adresa mé instance:</label>
    <input id="fediverse-share-instance" required="required" placeholder="https://mastodon.online" type="url">
    <br>
    <label for="fediverse-share-platform">Typ instance:</label>
    <select name="fediverse-share-platform" id="fediverse-share-platform">
      <option value="mastodon" selected="selected">Mastodon</option>
      <option value="friendica">Friendica</option>
      <option value="pleroma">Pleroma</option>
      <option value="diaspora">Diaspora</option>
      <option value="gnusocial">GNU social</option>
    </select>
    <br>
    <button type="reset" onclick="fediverseShareClose()">Zavřít</button>
    <button type="submit">Sdílet</button>
  </form>
</dialog>
</body>
</html>