<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie {$versionSuffix} - {include #title}</title>
  <link rel="stylesheet" href="{$basePath}/styles/{$style}.css">
  <link rel="alternate" type="application/rss+xml" title="Nexendrie - Novinky" n:href="Rss:news">
  <link rel="search" type="application/opensearchdescription+xml" n:href="Search:users" title="Nexendrie {$versionSuffix} - Uživatelé">
  <link rel="search" type="application/opensearchdescription+xml" n:href="Search:articlesTitle" title="Nexendrie {$versionSuffix} - Titulky článků">
  <link rel="search" type="application/opensearchdescription+xml" n:href="Search:articlesText" title="Nexendrie {$versionSuffix} - Texty článků">
  {ifset #head}{include #head}{/ifset}
</head>
<body>
<div id="header">
  <h2><a href="{$baseUrl}">Nexendrie</a></h2>
  {control menu userPanelFront}
</div>
{control menu:list}
<div id="flashes">
  {foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
  {/foreach}
</div>
<article id="main">
{include #content}</article>
{include "footer.latte"}
</body>
</html>
