{layout "../@layout.latte"}
{block title}Nepřátelé v dobrodužství{/block}
{block content}
  <h1>Nepřátelé v dobrodužství</h1>
  <table id="adventureEnemies">
    <tr><th>Jméno</th><th>Akce</th></tr>
    {foreach $npcs as $npc}
    <tr><td>{$npc->name}</td><td><a n:href="edit $npc->id">Upravit</a> <a n:href="delete $npc->id">Smazat</a></td></tr>
    {/foreach}
  </table>
  <p><a n:href="add $adventureId">Přidat nepřítele</a></p>
{/block}