  <p>Dnes už nedá s jistotou říci, jak došlo k osídlení kontinentu, avšak všeobecně příjímaná teorie zní, že jeho první obyvatelé připluli z nedalekých ostrovů. Nejprve osídlili přímořské oblasti a později začínali pronikat do vnitrozemí. V úrodných oblastech zakládali první vesnice. Dnešní Nexendrie byla pravděpodobně jednou z první trvale obydlených oblastí.</p>
  <p>Před odchodem z ostrovů převládalo kmenové zřízení, avšak společně se zakládáním vesnic a růstem populace začal přechod k feudální společnosti. Kmeny se spojovaly a stanovavaly si své vůdce, první šlechtice. Ti spolu vedli války a rozdělovali dobyté území spolu s jeho obyvateli členům svých družin. Hranice se v těchto časech téměř neustále měnily. Po několika stoletích se ale ustálily. Nastalo období relativního míru a panovníci i nižší šlechta začali upevňovat svou moc. Většina obyvatel kontinentu naopak ztratila většinu svých práv a stali se v podstatě nevolníky.</p>
  <p>Bylo to temné období v historii kontinentu. Nevolníci byli využívání svou vrchostí, jediný rozvoj probíhal v klášterech, jejichž obyvatelé si zachovali jistou svobodu, ale které se však zdráhaly příjímat do svých řad nové členy a také předávat své vědomosti ostatním. Tyto skutečnosti velmi usnadlily invazi, která měla přijít.</p>