  <p>Pokud několik dní poplujete lodí směrem na jihovýchod od kontinentu, spatříte skupinku ostrovů, které byly kdysi sídlem velmi vyspělé civilizace, jenž se nejspíše vytvořila ještě před vznikem prvních států na kontinentě. Její příslušníci z pozadí sledovali po mnoho staletí vývoj na kontinentě. Bylo to pro ně velké zklamání, přestože neočekávali mnoho. Viděli zde úpadek vzdělanosti i totální porobení většiny obyvatelstva.</p>
  <p>Naproti tomu na těchto ostrovech vzdělanost vzkvétala (dokonce měli několik větších škol) a obyvatelé byli svobodnější, což se projevovalo jejich řemeslnou zručností i významným obchodem. Také však měli panovníka (císaře) s rozsáhlými pravomocemi, který utvrzoval své poddané o nadřazenosti jejich národa. Ta je nakonec vedla k invazi na kontinent.</p>
  <p>Obyvatelé ostrovů používali (na svou dobu) velmi vyspělé zbraně a strategie, což společně s jejich morálkou vynahrazovalo jejich menší počty. Na toto nebyli na kontinentu připravení a proto postupně všechna jejich knížectví  osamocena podlehla nájezdníkům. Ti neprováděli velké změny, protože stávající podmínky byly příznivé pro jejich nadvládu. Císař však nad místními knížaty ustanovil své zástupce, vévody, z řad svých věrných generálů, kterým se místní vládci museli zodpovídat. Vévodové se snažili nahradit lokální kultury a jazyky těmi, které přivezli ze své rodné zěmě, avšak zcela se jim to nepodařilo. Naopak to vedlo k velkým nepokojům nejen místní šlechty, ale i nevolníků.</p>
  <p>Po téměř dvou stoletích nadvlády začínala knížata mezi sebou uzavírat různé dohody proti okupantům. Chtěli znovu získat svou samostatnost, ale pochopili, že bez výrazných ústupkům většině obyvatel opět ztratí svou moc. Vraceli tedy lidem některá jejich stará práva a když vyhlásili válku císaři, jejich poddaní se ochotně hlásili do armády.</p>
  <p>Nyní, už sjednoceni a podporou svých poddaných, slavila knížata vítězství a postupně vyháněla cizáky ze svých zemí. Ničili vše, co jim připomínalo císařství, včetně vévodských titulů. Tedy kromě technologií, které od nich odkoukali. Znovu tak objevili například umění mořeplavby, které využili při svém útoku na ostrovy. Jejich obyvatelé se statečně bránili, avšak po náhlém skonu císaře se jejich jednota rozpadla a nakonec byli poraženi. Museli sledovat, jak jejich bývalí sluhové ničí jejich školy a rozkrádají jejich majetek. Z těchto ran se již nikdy nevzpamatovali.</p>