  <p>Asi před patnácti lety zemřel přirozenou smrtí král Bořivoj, který po sobě zanechal jen jednu nezletilou dceru Vladěnu. Spousta šlechticů to brala jako příležitost k získání trůnu pro sebe nebo alespoň posílení své moci. Na králově pohřbu však tři nejmocnější šlechtici v zemi odmítli jakékoliv změny, přísahali věrnost dědičce trůnu a prohlásili si za spoluregenty. Mnohým šlechticům se to nelíbilo, ale věděli, že sami nemají šanci to změnit, proto se podřídili. Aby noví regenti zdůraznili své postavení, přijali knížecí tituly.</p>
  <p>Regentská rada, ke spokojenosti většiny obyvatel, pokračovala v politice předchozího vládce. Kromě správy země osobně připravovali mladou princeznu na převzetí vlády. To se stalo v den jejích šestnáctých narozenin. V ten den také za nevyjasněných okolností zemřel jeden z členů Regenstké rady. Její zbývající členové však neodešli do ústraní, protože nová královna si je vybrala za své rádce. Regenstká rada se tak transformovala v Korunní radu, která má nyní také tři členy.</p>
  <p>Domácí šlechta její nástup na trůn přijala bez větších problémů, avšak šlechtici a vládci okolních zemí ji viděli jako příliš mladou a nezkušenou a rozhodli se na její úkor rozšířit své území. Nová královna ani její poradci opravdu neměli mnoho zkušeností s vedením války (Nexendrie se již několik generací nezúčastnila většího konfliktu), proto armády cizáků zpočátku slavili jedno vítězství za druhým. Místní šlechtě také chyběli finance na válku, avšak s tím jim velmi ochotně pomohla bankéřská rodina Žajských a poskytla jim výhodné úvěry.</p>