  <p>Po rozpadu císařství se všechna knížectví už znovu nesjednotila, všechna se vydala vlastní cestou. Vojáci vracející se z ostrovů sebou přinášeli i nějaké artefakty a dokonce i menší množství svitků s tajemstvími ostrovanů. Obyvatele klášterů to stálo mnoho let, avšak nakonec se jim podařilo je přeložit a dokonce aplikovat v praxi.</p>