{layout "../@layout.latte"}
{block title}Správa obsahu{/block}
{block content}
  <h1>Správa obsahu</h1>
  <ul>
    <li><a n:href="shops">Obchody</a></li>
    <li><a n:href="items">Věci na tržišti</a></li>
    <li><a n:href="jobs">Práce</a></li>
    <li><a n:href="towns">Města</a></li>
    <li><a n:href="mounts">Jezdecká zvířata</a></li>
    <li><a n:href="skills">Dovednosti</a></li>
    <li><a n:href="meals">Jídla</a></li>
  </ul>
{/block}