{layout "../@layout.latte"}
{block title}Skupina {$groupName}{/block}
{block content}
  <h1>Skupina {$groupName}</h1>
  <h3>Členové</h3>
  <p>
  {foreach $members as $member}
    <a n:href=":Front:Profile:default $member->username">{$member->publicname}</a><br>
  {/foreach}
  </p>
{/block}