<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie - {block title}{/block}</title>
  {default $style = "default"}
  <link rel="stylesheet" href="{$baseUrl}/styles/{$style}.css">
  <link rel="alternate" type="application/rss+xml" title="Nexendrie - Novinky" n:href="Rss:news">
</head>
<body>
{include "header.latte"}
<article id="main">
{block #content}{/block}</article>
{include "footer.latte"}
</body>
</html>