{layout "../@layout.latte"}
{block title}Skupina {$group->name}{/block}
{block content}
  <h1>Skupina {$group->name}</h1>
  <h3>Členové</h3>
  <p>
  {foreach $group->members as $member}
    {$member->publicname} {control userProfileLink:name $member, Profil} <a n:href="User:edit $member->id">Upravit</a><br>
  {/foreach}
  </p>
{/block}