{layout "../@layout.latte"}
{block title}Skupina {$group->name}{/block}
{block content}
  <h1>Skupina {$group->name}</h1>
  <h3>Členové</h3>
  <p>
  {foreach $group->members as $member}
    {control userProfileLink $member}<br>
  {/foreach}
  </p>
{/block}