{layout '../@layout.latte'}
{block title}{$shop->name}{/block}
{block content}
  <h1>{$shop->name}</h1>
  <p>{$shop->description}</p>
  {if count($items) === 0}
    <p>Bohužel ti nic nemohu nabídnout.</p>
  {else}
    <article id="items">
    Mohu ti nabídnout:
    <ul>
      {foreach $items as $item}
        <li>{$item->name} za {$item->price} grošů. <a n:href="Market:buy $item->id">Koupit</a></li>
      {/foreach}
    </ul>
    </article>
  {/if}    
{/block}