{layout "../@layout.latte"}
{block title}Dům{/block}
{block content}
  <h1>Dům</h1>
  Stav: {$house->hp}% {if $house->hp < 100}<a n:href="repair!">Opravit</a> za {$house->repairPriceT}{/if}<br>
  Úroveň: {$house->luxuryLevel} {if $canUpgrade}<a n:href="upgrade!">Vylepšit</a> za {$house->upgradePriceT}{/if}<br>
  Pivovar: {if $house->breweryLevel < 1}není{else}úroveň: {$house->breweryLevel}{/if}
{/block}
