<p>V každém městě i vesnici v Nexendrii existuje akademie. V akademii je možné získat nové dovednosti, které ti umožní vykonávat nové <a href="{plink "{$presenterName}:" page => work}">práce</a> a zvyšují i tvou odměnu z dané práce. Některé dovednosti naopak zvýší tvé vlastnosti v bitvě. Každá dovednost má několik stupňů a s každým naučeným stupněm se cena za výuku dalšího zvyšuje. V následujících odstavcích najdeš seznam všech dovedností, které tě v akademii mohou naučit.</p>
  {foreach $skills as $skill}
  <p>
    {$skill->name}<br>
    Cena za 1. stupeň: {$skill->priceT}, úrovní: {$skill->maxLevel}<br>
    {if $skill->type === "work"} Potřebné pro práce: {foreach $skill->jobs as $job}{$job->name}{if !$iterator->last}, {/if}{/foreach}<br>
    {elseif $skill->type === "combat"}Efekt: {$skill->effect}{/if}
  </p>
  {/foreach}