  <p>Jakmile se staneš měšťanem, šlechticem či mnichem, smíš již opustit své <a href="{plink "{$presenterName}:" page => towns}">město nebo vesnici</a> a můžeš se vydat na dobrodružství.</p>
  <p>Dobrodružství představují další možnost výdělku v Nexendrii, ale na rozdíl od <a href="{plink "{$presenterName}:" page => work}">práce</a> jsou spojeny s jistým rizikem. Musíš při nich bojovat s nepřáteli, kteří ti mohou ublížit. Proto se před odchodem ujisti, že máš (nasazenou) silnou zbraň a zbroj. Obojí se kupuje na <a href="{plink "{$presenterName}:" page => market}">tržišti</a>. Další podmínkou pro podniknutí dobrodružství je vlastnictví alespoň jednoho zdravého <a href="{plink "{$presenterName}:" page => stables}">jezdeckého zvířete</a>. Účast v dobrodružství snižuje mírně jeho/její zdraví (o {$hpDecrease}%). Jistá dobrodružství také vyžadují vyšší <a href="{plink "{$presenterName}:" page => titles}">postavení</a>.</p>
  <p>Dobrodružství jsou sérii soubojů. Za porážku každého nepřítele obdržíš malou odměnu a po poražení všech nepřátel další odměnu. Pokud se ti nepodaří někoho porazit, můžeš boj znovu opakovat za předpokladu že máš dostatek životů. Avšak měj na paměti, že po půlnoci se musíš vrátit do svého města či vesnice, čímž automaticky končí dobrodružství. Po dokončení dobrodružství musíš počkat dva dny, než budeš moci vyrazit na další.</p>
  <p>Systém soubojů je popsán na samostatné <a href="{plink "{$presenterName}:" page => combat}">stránce</a>. V soubojích v rámci dobrodružství se vždy pokládáš za útočníka a většinou útočíš jako první (někteří nepřátelé však mohou vyšší než běžnou iniciativu).</p>
  <p>Pamatuj, že dokud nedokončíš dobrodružství, nemůžeš se vrátit do svého města, vesnice či <a href="{plink "{$presenterName}:" page => monastery}">kláštera</a>. Nemůžeš si tedy například koupit lepší vybavení či lektvary ani se modlit, případně jíst v <a href="{plink "{$presenterName}:" page => tavern}">hostinci</a>, avšak stále si můžeš změnit výbavu a pít lektvary, které máš u sebe. Během dobrodružství také nemůžeš vykonávat práci.</p>