  <p>Jakmile se staneš měšťanem, šlechticem či mnichem, smíš již opustit své město nebo vesnici a můžeš se vydat na dobrodružství.</p>
  <p>Dobrodružství představují další možnost výdělku v Nexendrii, ale narozdíl od práce jsou spojeny s jistým rizikem. Musíš při nich bojovat s nepřáteli, kteří ti mohou ublížit. Proto se před odchodem ujisti, že máš (nasazenou) silnou zbraň a zbroj. Obojí se kupuje na tržišti. Další podmínkou pro podniknutí dobrodružství je vlastnictví alespoň jednoho zdravého jezdeckého zvířete. Účast v dobrodružství snižuje mírně jeho/její zdraví (o 5%). Jistá dobrodružství také vyžadují vyšší postavení.</p>
  <p>Dobrodružství jsou sérii soubojů. Za porážku každého nepřítele obdržíš malou odměnu a po poražení všech nepřátel další odměnu. Pokud se ti nepodaří někoho porazit, můžeš boj znovu opakovat za předpokladu že máš dostatek životů. Avšak měj na paměti, že po půlnoci se musíš vrátit do svého města či vesnice, čímž automaticky končí dobrodružství. Po dokončení dobrodružství musíš počkat dva dny, než budeš moci vyrazit na další.</p>
  <p>Systém soubojů je velmi jednoduchý. Nejdříve útočíš ty a pak tvůj protivník, dokud jeden z vás nepadne vyčerpáním. Poškození se počítá takto: (síla zbraně + dovednost síla + bonus zvířete)-(síla zbroje + dovednost houževnatost + bonus zvířete), zásah je automatický. Pokud oba soupeři stále stojí na nohou po 30 kolech, za vítěze se pokládá obránce (v dobrodružství jsi útočník).</p>
  <p>Měj na paměti, dokud nedokončíš dobrodružství, nemůžeš se vrátit do svého města, vesnice či kláštera. Nemůžeš si tedy například koupit lepší vybavení či lektvary, avšak stále můžeš změnit zbraň či zbroj a pít lektvary, které máš u sebe. Také během dobroudružství nemůžeš vykonávat práci.</p>