  <p>V téměř každém městě a vesnici v Nexendrii dnes stojí pobočka Banky Žajských, která mimojiné poskytuje drobné půjčky všem obyvatelům království. Maximální suma, kterou jsou ochotni půjčit, závisí na postavení žadatele. Sedlákům a mnichům půjčí maximálně 70 grošů; měšťanům 300; konšelům, rychtářům a (nižším) kněžím 500; rytířům 700; vyšší šlechtě a duchovenstvu 1500; členům Korunní rady a panovíkovi 2000. Zapůjčenou sumu je nutné vrátit s úrokem (v současnosti 15% ročně), až poté stejnému člověku znovu půjčí.</p>
  <p>Rodina Žajských získala povolení provozovat banku před 20 lety od tehdejšího panovníka. Už tehdy byl jejich majetek srovnatelný s majetkem mnoha šlechticů a během války o okolními státy a především po ní se ještě zvětšil. Během války významně podporovali místní šlechtu, která potřebovala finance na vedení války. Po válce se rozhodli půjčovat širokým vrstvám obyvatelstva a to se ukázalo jako velmi výnosné. Velká poptávka a výnosnost jejich služeb jim umožnila otevřít si pobočky ve všech koutech království.</p>