  <p>V téměř každém <a href="{plink "{$presenterName}:" page => towns}">městě a vesnici</a> v Nexendrii dnes stojí pobočka Banky Žajských, která mimo jiné poskytuje drobné půjčky všem obyvatelům království. Maximální suma, kterou jsou ochotni půjčit, závisí na <a href="{plink "{$presenterName}:" page => titles}">postavení</a> žadatele. Zapůjčenou sumu je nutné vrátit s úrokem (v současnosti {$loanInterest}% ročně), až poté stejnému člověku znovu půjčí.</p>
  <table id="maxLoans">
    <tr><th>Titul</th><th>Maximální půjčka</th></tr>
    <tr n:foreach="$groups as $group"><td>{$group->singleName}</td><td>{$group->maxLoan}</td></tr>
  </table>
  <p>Rodina Žajských získala povolení provozovat banku před 20 lety od tehdejšího panovníka. Už tehdy byl jejich majetek srovnatelný s majetkem mnoha šlechticů a během války s okolními státy a především po ní se ještě zvětšil. Během války významně podporovali místní šlechtu, která potřebovala finance na vedení války. Po válce se rozhodli půjčovat širokým vrstvám obyvatelstva a to se ukázalo jako velmi výnosné. Velká poptávka a výnosnost jejich služeb jim umožnila otevřít si pobočky ve všech koutech království.</p>
  <p>Kromě půjček také banka nabízí termínované účty. Každý obyvatel Nexendrie může mít současně otevřen jen 1 a není možné jej předčasně zrušit. Úroková sazba na termínovaných vkladech je v současnosti {$depositInterest}% ročně.</p>