  <p>Šlechtici (vyšší i nižší) mají možnost si postavit a vylepšovat hrad. Hrad je jedním ze symbolů moci šlechtice a také zvyšuje bezpečnost v jeho panství. To vede k zvýšení příjmu z daní, a to o {$taxBonusPerLevel} v každém z jeho <a href="{plink "{$presenterName}:" page => towns}">měst</a> za každou úroveň jeho hradu za měsíc. Maximální úroveň hradu je {$maxLevel}.</p>
  <p>Hrad je nutné pravidelně opravovat, protože každý týden klesá jeho životnost o {$weeklyWearingOut}% a pokud klesne pod {$criticalCondition}, přestane zvyšovat příjmy z daní.</p>