  <p>V Nexendrie můžeš za určitých okolností bojovat s ostatními obyvateli či nehráčskými postavami. V současnosti je jedinou možností <a href="{plink :Front:Help: page => adventures}">dobrodružství.</a></p>
  <p>Systém soubojů je velmi jednoduchý. Nejdříve útočíš ty a pak tvůj protivník a střídáte se, dokud jeden z vás nepadne vyčerpáním. Poškození se počítá takto: (síla zbraně + dovednost síla + bonus zvířete)-(síla zbroje + dovednost houževnatost + bonus zvířete), zásah je automatický. Pokud oba soupeři stále stojí na nohou po 30 kolech, za vítěze se pokládá obránce.</p>
  <p>Zbraň, zbroj a helmu si můžeš koupit na tržišti. Poté si v sekci Majetek - Vybavení můžeš změnit svou aktuální výbavu (pomocí odkazů Nasadit/Sundat). Také si každý kus výbavu můžeš vylepšit, aby ti poskytl vyšší bonus v soubojích. Zbraň zvyšuje poškození, které způsobíš protivníkovi; zbroj snižuje poškození, které utrpíš; helma zvyšuje počet tvých životů.</p>
  <p>Pokud používáš určitou kombinaci zbraně, zbroje a helmy jedna z tvých vlastností v souboji se může ještě dodatečně zvýšit. Existují tyto sady vybavení:</p>
  <table>
    <tr><th>Název sady</th><th>Zbraň</th><th>Zbroj</th><th>Helma</th><th>Bonus</th></tr>
    <tr n:foreach="$itemSets as $set"><td>{$set->name}</td><td>{$set->weapon->name}</td><td>{$set->armor->name}</td><td>{$set->helmet->name}</td><td>{$set->effect}</td></tr>
  </table>