  <p>Měšťané a sedláci se mohou organizovat do cechů. Cechy mají ve městech jistý vliv a používají jej ke zlepšování pověsti svých členů, což se projeví mírně vyšší příjmem z práce. Avšak cech vyžaduje každý měsíc placení členských poplatků. Výše bonusu i poplatku závisí na hodnosti člena.</p>
  <table>
    <tr><th>Hodnost</th><th>Bonus k příjmům z práce</th><th>Členský poplatek</th></tr>
    <tr><td>učedník</td><td>5%</td><td>50 grošů</td></tr>
    <tr><td>tovaryš</td><td>5%</td><td>75 grošů</td></tr>
    <tr><td>mistr</td><td>10%</td><td>110 grošů</td></tr>
    <tr><td>cechmistr</td><td>10%</td><td>135 grošů</td></tr>
  </table>
  <p>V čele cechu stojí cechmistr. Ten může povyšovat, degradovat a vylučovat členy, také má možnost přejmenovat cech a rozhoduje o způsobu využití společných peněz.</p>
  <p>Důležité upozornění: každý cech může fungovat jen v jednom městě. Pokud se tedy rozhodneš opustit město, automaticky vystoupíš i ze svého cechu. Z tohoto důvodu se cechmistr nemůže přestěhovat do jiného města.</p>