  <p>Sedláci a měšťané si mohou zakoupit a následně vylepšovat (jeden) dům ve středu města, který zvýší jejich prestiž. To má za následek mírné zvýšení příjmu z prací, a to o {$incomeBonusPerLevel}% za každou úroveň domu. Maximální úroveň domu je {$maxLevel}.</p>
  <p>V každém domě je možné postavit si pivovar. Pivovar poskytuje možnost jednou za 7 dní vařit a prodávat pivo, vyšší úroveň pivovaru zvyšuje množství vyprodukovaného piva.</p>
  <p>Dům je třeba pravidelně opravovat, protože každý týden klesá jeho životnost o 3% a pokud klesne pod 30, přestane zvyšovat příjem z práce a nebude možné v něm vařit pivo.</p>