  <p>Vítej v Nexendrii. Jistě máš spoustu otázek (alespoň pokud jsi tu poprvé). Tato a další stránky nápovědy se je pokusí zodpovědět. Pokud zde nenalezneš odpověď, neváhej se zeptat některého z administrátorů. Jejich seznam najdeš na stránce <a href="{plink :Front:Team:}">Tým</a>. Ale začněme hned s:</p>
  <h3>Co je to Nexendrie?</h3>
  <p>Nexendrie je virtuální prostředí, ve kterém můžeš dělat mnoho věcí. Můžeš si najít virtuální <a href="{plink :Front:Help: page => work}">zaměstnání</a> a za peníze, které vyděláš, si tu můžeš kupovat různé <a href="{plink :Front:Help: page => market}">věci</a>, mimo jiné i <a href="{plink :Front:Help: page => stables}">jezdecká zvířata</a>. Také si můžeš zaplatit lekce v místní <a href="{plink :Front:Help: page => academy}">akademii</a>. Můžeš se (až budeš zkušenější) vydávat na <a href="{plink :Front:Help: page => adventures}">dobrodružství</a> do vzdálených zemí a následně odpočívat/pojídat/popíjet v hostinci. Samozřejmě také můžeš vést debaty s ostatními obyvateli Nexendrie.</p>
  <p>Nexendrie samotná je fiktivní středověké/raně renesanční království v nespecifikovaném fiktivním světě. V současnosti mu vládce královna Vladěna, dcera předchozího krále. Vlády se ujala v den svých 16. narozenin po několika letech vlády regentské rady(, která se následně transformovala do Korunní rady). Už od prvních dnů své vlády musela čelit agresivních sousedům, kteří chtěli uchvátit oslabenou zemi. Nakonec, s pomocí zlodějských cechů a jejich pochybných taktik, se jí podařilo ukončit válku a napravit vztahy se sousedními státy.</p>