  <p>Do každého města a vesnice v Nexendrii pravidelně přijíždějí kupci, aby tu nabízeli své zboží. Někteří mají dokonce rezervované prominentní místo na hlavním náměstí. Patří mezi ně Meklav nabízející různé lektvary, Kazimíra se svými magickými předměty, Zbyslav prodávající zbraně vyrobené kováři z celé země, Jacek s drahými klenoty, Hamal s nejrůznějšími předměty a cetkami a Vašek se zbrojemi, plášti a přilbami. Nabízejí své zboží všem, kdo si jej může dovolit. Na tržišti také můžeš narazit na lidi nabízející jezdecká zvířata. Někdy se tu objeví i šlechtic či duchovní nabízející či poptávající nemovitosti.</p>