  <p>Obyvatelé Nexendrie mohou uzavírat manželství. Avšak jsou zde omezení: každý může mít jen jednoho manžela/manželku a oba manželé musí patřit do stejné společenské třídy (jednu tvoří sedláci a měšťané, další obyvatelé klášterů a poslední šlechta). Do těchto omezení však nepatří rozdílné pohlaví účastníků, manželství mohou uzavřít stejnopohlavní i různopohlavní páry.</p>
  <p>Pokud se chceš oženit/vdát, musíš nejprve dotyčnou osobu požádat o ruku. Pokud splňujete podmínky pro uzavření sňatku, najdeš na jeho/jejím profilu odkaz Navrhnout sňatek. Jakmile na něj klikneš, daná osoba uvidí tvou žádost v sekci Manželství, kde ji může přijmout či odmítnout. Pokud příjme, budete zasnoubení (což každý uvidí na vašich profilech). Poté v sekci Manželství můžete změnit termín svatby nebo zasnoubení zrušit.</p>
  <p>Manželství zvyšuje maximum životů partnerů v závislosti na míře důvěrnosti. Každých celých {$intimacyForLevel} bodů důvěrnosti přidává {$hpIncreasePerLevel}. Důvěrnost se zvyšuje pomocí zvláštního předmětu zvaného srdce, který existuje ve 3 variantách: malé, střední a velké.</p>
  <p>Pokud manželství přestane fungovat, je možné jej rozvést. Jeden z manželů v sekci Manželství podá žádost o rozvod a druhý manžel bude mít na stejném místě možnost přijmout či odmítnout. V případě že přijme, manželství je okamžitě ukončeno a manželé se mohou znovu zasnoubit s někým jiným. V současnosti nelze manželství rozvést bez souhlasu obou manželů.</p>