  <p>V mnoha městech a vesnicích Nexendrie mají církve své kláštery. Kláštery do svých řad přijímají všechny uchazeče, kterým poskytují různé výhody. Členové církví (mniši i kněží) se mohou volně pohybovat po království a jednou denně si mohou při modtlidbě zadarmo obnovit trochu zdraví.</p>
  <p>V čele kláštera stojí jeden z vyšších kněží, kteří v něm žijí. Vyšší kněží, kteří ještě neřídí klášter, mohou založit svůj vlastní. K tomu je zapotřebí kromě jistého obnosu peněz také materiály, které se dají sehnat na tržišti. Pokud později budou cítit, že na vedení kláštera již nestačí, mohou svou funkci přenechat někomu jinému a odejít do ústraní.</p>
  <p>Obyvatelé kláštera mají možnost přispívat na jeho údržbu a případné rozšiřování. Avšak stále mají povinnost odvádě daň z příjmů svému lennímu pánovi, kterým ale často bývá představený/á jejich kláštera.</p>