  <p>I v Nexendrii se používají (virtuální) peníze. Všechny věci včetně jezdeckých zvířat a měst tu mají svou cenu. Nexendrie je samostatný stát, přesto se už před několika generacemi dohodla s okolními státy na používání společné měny, groše. Groše ve všechn zemích mají stejnou lícovou strana (orel s dvěma hlavami), rubová stranu má každou země svou (v Nexendrii drak).</p>
  <p>V současnosti máš tři možnosti jak tu získat peníze. První možností je práce. Detaily, včetně seznam všech možných práci, jsou na další stránce. Dále máš možnost si půjčit menší sumu v bance. Poslední možností jsou dobrodružství.</p>
  <p>Co se týče útraty peněz, je tu už více možností. V každém městě a vesnici je krčma, kde si můžeš objednat nápoj či pití dle svého výběru. Dále je tu tržnice, kde obchodníci nabízejí spoustu zboží, někdy i ze vzdálených zemí. Můžeš si zde koupit i jezdecká zvířata. Také si můžeš zaplatit lekce v místní akademii. Pokud se staneš šlechticem nebo vyšším duchovním, můžeš také koupit města/vesnice a následně v nich vybírat daně. Mniši a kněží mohou přispívat na údržbu/rozšřiřování svého kláštera. Příspěvky se za žádných okolností nevracejí, ani když daná osoba opustí klášter.</p>