  <p>Ve stájích můžeš kontrolovat stav svých jezdeckých zvířat, přejmenovat je nebo nabídnout k prodeji.</p>
  <p>V Nexendrie se běžně vyskytují dva druhy jezdeckých zvířat: osli a koně. Žije zde také pár jednorožců a legendy praví, že několika jedincům se dokonce podařilo ochočit draka. Je možné zde najít i velbloudy, ale ti byli dovezeni z okolních zemí.</p>
  <p>Pokud si chceš nějaké zvíře pořídit, běž na místní tržnici. Avšak jako sedlákovi na vesnici ti nabídnou maximálně osla. Ve městech najdeš i koně, případně velbloudy. Šlechtici a vyšší duchovní se dostanou i k jednorožcům.</p>
  <p>Ať si pořídíš jakékoliv zvíře, měj na paměti, že se o něj/ní musíš starat, jinak bude chřadnout a nebude ti k ničemu.</p>