  <p>Ve stájích můžeš kontrolovat stav svých jezdeckých zvířat, přejmenovat je nebo nabídnout k prodeji.</p>
  <p>V Nexendrie se běžně vyskytují dva druhy jezdeckých zvířat: osli a koně. Žije zde také pár jednorožců a legendy praví, že několika jedincům (mimo jiné i prvnímu králi Nexendrie) se dokonce podařilo ochočit draka. Je možné zde najít i velbloudy, ale ti byli dovezeni z okolních zemí.</p>
  <p>Pokud si chceš nějaké zvíře pořídit, běž na místní tržnici. Avšak jako sedlákovi na vesnici ti nabídnou maximálně osla. Ve městech najdeš i koně a velbloudy. Šlechtici a vyšší duchovní se dostanou i k jednorožcům. Vyšší šlechta může (avšak za vysokou cenu) získat i draky.</p>
  <p>Ať si pořídíš jakékoliv zvíře, měj na paměti, že se o něj/ní musíš starat, jinak bude chřadnout a nebude ti k ničemu. O svá zvířata se nemusíš starat sám/sama, ale můžeš si na to někoho najmout přes správu daného zvířete. Ten kromě ceny materiálu bude vyžadovat i jistou mzdu, celkem zaplatíš {$autoFeedingCost} grošů za týden za každé automaticky krmené zvíře.</p>
  <p>Jezdecká zvířata jsou potřebná pro dobrodružství a mohou poskytovat bonus k poškození a brnění v boji. Výše bonusu je dána druhem zvířete, ale může být zvýšena tréninkem, maximálně však na dvojnásobek původní hodnoty, minimálně však na 1. Trénink nestojí jen peníze, dané zvíře také přijde o {$trainingHpDecrease}% života.</p>