  <p>Hostinec je místem, kde si můžeš odpočinout po dlouhém dni v <a href="{plink "{$presenterName}:" page => work}">práci</a> nebo po <a href="{plink "{$presenterName}:" page => combat}">souboji</a>. Můžeš si tu objednat jídlo či pití dle svého výběru. Díky jídlu a pití (a odpočinku) se ti mohou obnovit životy. Ale dej pozor, ne vše v hostinci je dobré pro tvé zdraví!</p>