  <p>Hostinec je místem, kde si můžeš odpočinout po dlouhém dni v práci nebo po souboji. Můžeš si tu objednat jídlo či pití dle svého výběru. Díky jídlu a pití (a odpočinku) se ti mohou obnovit životy. Ale dej pozor, ne vše v hostinci je dobré pro tvé zdraví!</p>