  <p>Nexendrie je feudální stát, kde má každý určené své místo(, které však není neměnné). Existují zde šlechtické tituly a jejich hierarchie. Po dokončení registrace se automaticky stáváš sedlákem, který má omezené možnosti, např. nemůže opustit svou vesnici. Po nějaké době, pokud se chováš vhodně, se staneš měšťanem a můžeš se již volně pohybovat po království. Pokud budeš pro své město přínosem, můžeš být zvolen do městské rady jako konšel a možná se jednou dokonce stát rychtářem. Možná ale budeš raději chtít vstoupit do kláštera jako mnich a následně stoupat v církevní hierarchii.</p>
  <p>Také je tu možnost, že si tě povšimne sama královna (prostřednictvím Korunní rady) a jmenuje tě šlechticem. Jako šlechtic (anebo vyšší duchovní) můžeš vlastnit města a vesnice a vybírat v nich daně. Také se budeš podílet na vládě v zemi. Šlechtici mají možnost postavit si hrad a se souhlasem královny mohou zakládat nová města.</p>
  <p>Šlechta se v Nexendrii dělí na nižší (rytíři) a vyšší (páni a markrabata). Před několika lety se, kvůli nezletilosti dědičky trůnu, tři nejmocnější šlechtici v zemi spojili v regentskou radu (dnes Korunní rada), aby společně spravovali zemi. Mají knížecí titul a náleží jim oslovení Vaše Jasnosti. (Takto jsou na těchto stránkách označeni administrátoři. Pokud někde uvidíš frázi jako z nařízení Jejího Veličenstva, ve skutečnosti za tím stojí administrátoři.)</p>
  <p>Avšak při opakovaném porušování místních pravidel/pravidel slušného chování budeš uvězněn v místní šatlavě, dokud neodpracuješ svůj trest. Proto se co nejdříve seznam s našimi pravidly a dodržuj je.</p>
  <h3>Posloupnost titulů</h3>
  <table id="titles">
    <tr>{foreach $cityGroups as $group}<td>{if !$iterator->first}- {/if}{$group->singleName}</td>{/foreach}</tr>
    <tr><td></td>{foreach $churchGroups as $group}<td>- {$group->singleName}</td>{/foreach}</tr>
    <tr><td></td>{foreach $towerGroups as $group}<td>- {if $group->level === 10001}{$group->femaleName}{elseif $group->level === 10000}{$group->name}{else}{$group->singleName}{/if}</td>{/foreach}</tr>
  </table>