  <p>Nexendrie se skládá z mnoha měst a vesnic. Noví obyvatelé jsou automaticky umístěni do vesnice Světlohvozd ve středu země. Jakmile se stanou měšťany/mnichy/rytíři (nejnižší místní šlechtický titul), mohou si zvolit jiné.</p>
  <p>Každé město a vesnice, bez ohledu na to komu patří, má volenou samoprávu v čele s vrchností jmenovaným rychtářem. Ten rozhoduje o běžných záležitostem obce. Všichni obyvatelé musí každý měsíc odvádět ze svých příjmů daně vrchnosti.</p>
  <p>Pokud se staneš šlechticem, získáš automaticky také 1 město/vesnici. Také budeš mít možnost koupit další, případně, se souhlasem královny (Korunní rady) založit nové. Tví poddaní ti budou každý měsíc platit daně.</p>