{layout "../@layout.latte"}
{block title}Profil{/block}
{block content}
  <h1>{$profile->group->singleName} {$profile->publicname}</h1>
  <p>
    V Nexendrii od {$profile->joinedAt}, naposledy spatřen(a) {$profile->lastActiveAt}. V současnosti žije ve městě/vesnici <a n:href="Town:detail $profile->town->id">{$profile->town->name}</a>{if $profile->monastery}, klášteře <a n:href="Monastery:detail $profile->monastery->id">{$profile->monastery->name}</a>{/if}.<br>
    {if $profile->banned}V současnosti si odpykává zasloužený trest v místní šatlavě.<br>{/if}
   Napsáno {$profile->articles->countStored()} článků a {$profile->comments->countStored()} komentářů
  </p>
{/block}