{layout "../@layout.latte"}
{block title}Akce{/block}
{block content}
  <h1>Akce</h1>
  <p><a n:href="add">Přidat akci</a><p>
  <h3>Seznam akcí</h3>
  <table>
    <tr><th>Jméno</th><th>Operace</th></tr>
    <tr n:foreach="$events as $event">
      <td>{$event->name}</td><td><a n:href="edit $event->id">Upravit</a> {if $event->start > time()}<a n:href="delete $event->id">Smazat</a>{/if}</td>
    </tr>
  </table>
{/block}