{layout '../@layout.latte'}
{block title}Novinka{/block}
{block content}
  <h1>{$news->title}</h1>
  <p>od <a n:href="Profile:default $news->author_username">{$news->author}</a> {$news->added}</p>
  <p>{$news->text}</p>
  {if $news->comments AND $user->isAllowed("comment", "add")}
  Přidat komentář:<br>
  {control addCommentForm}
  {else}
  <p>Nelze přidávat komentáře k této novince.</p>
  {/if}
{/block}