{layout "../@layout.latte"}
{block title}Klášterní chat{/block}
{block content}
  <h1>Klášterní chat</h1>
  <iframe src="{plink Chat:monastery}" width="100%" height="700"></iframe>
  {control newChatMessageForm}
{/block}
