{layout "../@layout.latte"}
{block title}Spravovat klášter{/block}
{block content}
  <h1>Spravovat klášter</h1>
  {control manageMonasteryForm}
  {if $canUpgrade}<a n:href="upgrade!">Vylepšit oltář</a> za {$monastery->upgradePriceT}<br>{/if}
  {if canUpgradeLibrary}<a n:href="upgradeLibrary!">Vylepšit knihovnu</a> za {$monastery->libraryUpgradePriceT}<br>{/if}
  {if $monastery->hp < 100}<a n:href="repair!">Opravit</a> klášter za {$monastery->repairPriceT}{/if}
{/block}