{layout '../@layout.latte'}
{block title}Hlavní stránka{/block}
{block content}
  <h1>Hlavní stránka</h1>
  <p>text</p>
  {if count($news) === 0}
  <p>Žádné novinky.</p>
  {else}
  <h2>Novinky</h2>
    {foreach $news as $new}
  <p>{$new->title} od <a n:href="Profile:default $new->author_username">{$new->author}</a> Přidáno: {$new->added} <a n:href="News:view $new->id">Zobrazit</a></p>
    {/foreach}
  {/if}
{/block}