{layout "../@layout.latte"}
{block title}Seznamy{/block}
{block content}
  <h1>Seznamy</h1>
  <ul>
    <li><a n:href="Town:list">Seznam měst</a></li>
    <li><a n:href="Castle:list">Seznam hradů</a></li>
    <li><a n:href="Monastery:list">Seznam klášterů</a></li>
    <li><a n:href="Guild:list">Seznam cechů</a></li>
    <li><a n:href="Order:list">Seznam řádů</a></li>
    <li><a n:href="User:list">Seznam obyvatel</a></li>
  </ul>