{layout '../@layout.latte'}
{block title}Anketa{/block}
{block content}
  <h1>Anketa</h1>
  <article id="poll">
    <p>Přidáno <a n:href="Profile:default $poll->author_username">{$poll->author}</a> {$poll->added}</p>
    <h3>{$poll->question}</h3>
    <ul>
    {foreach $poll->answers as $answer}
      <li>{$answer}</li>
    {/foreach}
    </ul>
  </article>
{/block}