{layout "../@layout.latte"}
{block title}Přidat nepřítele pro dobrodružství{/block}
{block content}
  <h1>Přidat nepřítele pro dobrodružství {$adventureName}</h1>
  {control addAdventureEnemyForm}
{/block}