a { color: #00CC00; }
#header { background-color: #0066CC; width: 1000px; }
#header h2 { position: relative; top: 25px; left: 25px; width: 100px; }
#header h2 a { text-decoration: none; color: gray; }
#userPanel { position: relative; bottom: 3px; left: 700px; width: 280px; }
#userPanel a { text-decoration: none; background-color: green; color: white;
  border: 5px green solid; position: relative; bottom: 1px; }
#mainMenu { position: relative; top: 7px; width: 160px; }
#mainMenu h3 { position: relative; left: 18px; bottom: 14px; width: 104px;
  background-color: #000099; color: white; padding: 3px 10px 3px 15px; }
#mainMenu ul { position: relative; left: 17px; bottom: 22px; width: 117px;
  background-color: rgba(51,204,153,0.3); padding: 10px 5px 10px 8px; }
#mainMenu li { list-style-type: none; font-size: smaller; }
#main { position: absolute; top: 96px; left: 180px; width: 750px;
  background-color: rgba(192,192,192,0.2); }
#main h1,h2,h3 { color: #000033; }