#header { background-color: #111111; width: 935px; }
#header h2 { position: relative; top: 25px; left: 25px; width: 100px; }
#header h2 a { text-decoration: none; color: white; font-size: larger; }
#adminPanel { position: absolute; top: 72px; left: 586px; }
#userPanel { position: relative; bottom: 3px; left: 700px; width: 280px; }
#userPanel a, #adminPanel a { text-decoration: none; background-color: #CC0000; color: teal;
  border: 5px #CC0000 solid; position: relative; bottom: 1px; }
#userPanel a:hover, #adminPanel a:hover { color: #000000; }
#mainMenu { position: relative; top: 7px; width: 160px;
  background-color: #111111; }
#mainMenu h3 { position: relative; left: 18px; bottom: 14px; width: 104px;
  background-color: #444444; color: #000033; padding: 3px 10px 3px 15px;
  text-align: center;}
#mainMenu ul { position: relative; left: 17px; bottom: 22px; width: 117px;
  background-color: #BBBBBB; padding: 10px 5px 10px 8px; }
#mainMenu li { list-style-type: none; font-size: smaller; }
#mainMenu li a { text-decoration: none; font-weight: lighter; color: #FF0000; }
#mainMenu li a:hover { color: #3366CC; }
#main { position: absolute; top: 104px; left: 175px; width: 741px;
  background-color: rgba(128,128,128,0.4); padding: 0 7px; }
#main h1,h2,h3 { color: #660066; }
#main a { color: #330033; }
#main a:hover { color: #666666; }
#topLinks { position: absolute; top: 20px; right: 15px; height: 0; }
