<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexendrie - {block title}{/block}</title>
  <link rel="stylesheet" href="{$baseUrl}/styles/base.css">
</head>
<body>
{include "header.latte"}
<article id="main">
{block #content}{/block}</article>
{include "footer.latte"}
</body>
</html>