{layout "../@layout.latte"}
{block title}Práce{/block}
{block content}
  <h1>{$jobName}</h1>
  <p>Pracuješ jako {$jobName} do {$finishTime}.</p>
  <p>{if $finished}<a n:href="finish">Dokončit práci</a>{else}{$help}{/if}</p>
  <p>{if $canWork}<a n:href="work">Do toho!</a>{else}Ještě jsi nedokončil směnu.{/if}</p>
{/block}