{layout "../@layout.latte"}
{block title}Přihlášení{/block}
{block content}
  <h1>Přihlášení</h1>
  {control loginForm}
  <p>Pokud ještě nemáš účet, můžeš se registrovat <a n:href="User:register">zde</a>.</p>
{/block}